# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Data files
data/*.json

# Environment files
.env*

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Cache
.cache
*.tsbuildinfo

# Logs
*.log
